<!--#layout("/common/layout.html",{"jsBase":"/js/cms/coreUser/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="coreUser.add"  action="add">增加</layui:accessButton>
    <layui:accessButton function="coreUser.edit"  action="edit">编辑</layui:accessButton>
    <layui:accessButton function="coreUser.del"  action="del">删除</layui:accessButton>
</div>

<table id="coreUserTable" lay-filter="coreUserTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index
    index.init();
});

</script>
