<!--# layout("/common/layout.html",{"jsBase":"/js/cms/coreUser/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label">code</label>
            <div class="layui-input-inline">
                <input type="text" name="code" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label">name</label>
            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label">password</label>
            <div class="layui-input-inline">
                <input type="text" name="password" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label">createTime</label>
            <div class="layui-input-inline">
                <input type="text" name="createTime" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label">orgId</label>
            <div class="layui-input-inline">
                <input type="text" name="orgId" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label">state</label>
            <div class="layui-input-inline">
                <input type="text" name="state" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label">jobType1</label>
            <div class="layui-input-inline">
                <input type="text" name="jobType1" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label">delFlag</label>
            <div class="layui-input-inline">
                <input type="text" name="delFlag" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label">updateTime</label>
            <div class="layui-input-inline">
                <input type="text" name="updateTime" class="layui-input" >
            </div>
            </div>
		
		
            <div class="layui-inline">
            <label class="layui-form-label">jobType0</label>
            <div class="layui-input-inline">
                <input type="text" name="jobType0" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
		
            <div class="layui-inline">
            <label class="layui-form-label">attachmentId</label>
            <div class="layui-input-inline">
                <input type="text" name="attachmentId" class="layui-input" >
            </div>
            </div>
		
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
    var coreUserAdd = layui.add
    coreUserAdd.init();
});
</script>
