<!--# layout("/common/layout.html",{"jsBase":"/js/cms/coreUser/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">code</label>
            <div class="layui-input-inline">
                <input type="text" id="code" name="code"  value="${coreUser.code}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">name</label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name"  value="${coreUser.name}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">password</label>
            <div class="layui-input-inline">
                <input type="text" id="password" name="password"  value="${coreUser.password}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">createTime</label>
            <div class="layui-input-inline">
                <input type="text" id="createTime" name="createTime"  value="${coreUser.createTime}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">orgId</label>
            <div class="layui-input-inline">
                <input type="text" id="orgId" name="orgId"  value="${coreUser.orgId}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">state</label>
            <div class="layui-input-inline">
                <input type="text" id="state" name="state"  value="${coreUser.state}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">jobType1</label>
            <div class="layui-input-inline">
                <input type="text" id="jobType1" name="jobType1"  value="${coreUser.jobType1}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">delFlag</label>
            <div class="layui-input-inline">
                <input type="text" id="delFlag" name="delFlag"  value="${coreUser.delFlag}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">updateTime</label>
            <div class="layui-input-inline">
                <input type="text" id="updateTime" name="updateTime"  value="${coreUser.updateTime}"   class="layui-input" >
            </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">jobType0</label>
            <div class="layui-input-inline">
                <input type="text" id="jobType0" name="jobType0"  value="${coreUser.jobType0}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">attachmentId</label>
            <div class="layui-input-inline">
                <input type="text" id="attachmentId" name="attachmentId"  value="${coreUser.attachmentId}"   class="layui-input" >
            </div>
            </div>
        </div>
    </div>
	
    <input type="hidden" name="id" value=${coreUser.id} />
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var coreUserEdit = layui.edit
    coreUserEdit.init();
});
</script>
